/* CSS는 소문자 & '-' 사용 */

@media (min-width: 1240.1px) {
  .logo {
    border: 0px none;
    -webkit-text-stroke: 5px #51414b;
    border-color: var(--collection-1-primary-font);
    color: #ffffff;
    font-family: 'Baloo Thambi', sans-serif;
    font-size: 120px;
    font-weight: 200;
    letter-spacing: -0.77px;
    position: absolute;
    text-shadow: 10px 6px 1px rgba(0,0,0,0.75);
    white-space: nowrap;
    top: 0;
    /* display: flex;
    justify-content: center;
    width: 100%;
    left: 0; */
  }
  
  .logo-game {
    border: 0px none;
    font-family: 'Baloo Thambi', sans-serif;
    font-size: 120px;
    font-weight: 200;
    letter-spacing: -0.77px;
    position: absolute;
    white-space: nowrap;
    top: -23px;
  }

  .logo-game .text {
    -webkit-text-stroke: 5px #51414b;
    border-color: var(--collection-1-primary-font);
    color: #ffffff;
    text-shadow: 10px 6px 1px rgba(0,0,0,0.75);
  }

  .logo-album {
    border: 0px none;
    -webkit-text-stroke: 5px #51414b;
    border-color: var(--collection-1-primary-font);
    text-shadow: 10px 6px 1px rgba(0,0,0,0.75);
    color: #ffffff;
    font-family: 'Baloo Thambi', sans-serif;
    font-size: 85px;
    font-weight: 200;
    letter-spacing: -0.77px;
    position: absolute;
    white-space: nowrap;
    top: -20px;
  }
}

@media (max-width: 1240px) {
  .logo {
    border: 0px none;
    -webkit-text-stroke: 5px #51414b;
    border-color: var(--collection-1-primary-font);
    color: #ffffff;
    font-family: 'Baloo Thambi', sans-serif;
    font-size: 90px;
    font-weight: 200;
    letter-spacing: -0.77px;
    position: absolute;
    text-shadow: 10px 6px 1px rgba(0,0,0,0.75);
    white-space: nowrap;
    top: 18px;
    /* display: flex;
    justify-content: center;
    width: 100%;
    left: 0; */
  }

  .logo-game {
    border: 0px none;
    font-family: 'Baloo Thambi', sans-serif;
    font-size: 90px;
    font-weight: 200;
    letter-spacing: -0.77px;
    position: absolute;
    white-space: nowrap;
    top: 0;
  }

  .logo-game .text {
    -webkit-text-stroke: 5px #51414b;
    border-color: var(--collection-1-primary-font);
    color: #ffffff;
    text-shadow: 10px 6px 1px rgba(0,0,0,0.75);
  }

  .logo-album {
    border: 0px none;
    -webkit-text-stroke: 5px #51414b;
    border-color: var(--collection-1-primary-font);
    text-shadow: 10px 6px 1px rgba(0,0,0,0.75);
    color: #ffffff;
    font-family: 'Baloo Thambi', sans-serif;
    font-size: 85px;
    font-weight: 200;
    letter-spacing: -0.77px;
    position: absolute;
    white-space: nowrap;
    top: -20px;
  }
}

/* @media (min-width: 640px) and (max-width: 949.9px) {
  .logo {
    border: 0px none;
    -webkit-text-stroke: 5px #51414b;
    border-color: var(--collection-1-primary-font);
    color: #ffffff;
    font-family: 'Baloo Thambi', sans-serif;
    font-size: 90px;
    font-weight: 200;
    letter-spacing: -0.77px;
    position: absolute;
    text-shadow: 10px 6px 1px rgba(0,0,0,0.75);
    white-space: nowrap;
    top: 18px;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
  }
} */