.animate-shake {
    animation: shake 3s cubic-bezier(0.2, 0.8, 0.2, 1.0) infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    0%,
    33.3% {
        transform: translateX(0);
        /* 0~1초: 흔들림 없음 */
    }

    33.3%,
    66.6% {
        transform: translateX(-3px);
        /* 1~2초: -3px 흔들림 */
    }

    66.6%,
    100% {
        transform: translateX(-6px);
        /* 2~3초: -6px 흔들림 */
    }
}